<% include partials/header %> 
<% include partials/navigation %> 

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>CLient Id: <%= process.env.CLIENT_ID %> </p>

<% include partials/footer %> 

